*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #081b29;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: white;
    margin-bottom: 30px;
    font-size: 3rem;
}

h2 span{
    color: #b7ff6a;
} 

.contenedor{
    width: 800px;
    max-width: 90%;
    background: white;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.image-section{
    float: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 20px;
}

.image-section img{
    width: 250px;
}

.Pedidos{
    flex: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Pedidos h2{
    margin-bottom: 20px;
}

.Pedidos input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.Pedidos button{
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg,#5b7cff,#9d4edd);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.Pedidos textarea{
    height: 120px;
    resize: none;
}

.Pedidos button:hover{
    opacity: .9;
}

/*Responsive para telefono*/
@media(max-width:768px){
    .container{
        flex-direction: column;
    }

    .image-section img{
        width: 180px;
        animation: slideIn 0.3s ease;
    }

    h2{
        font-size: 2rem;
        text-align: center;
    }
} 

/*login panel*/
.Pedidos{
    flex: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Pedidos h2{
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.Pedidos p{
    margin-bottom: 10px;
    color: #666;
}

#messager{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}

.success{
    background: #f8d7da;
    color: #155724;
}

.error{
    background: #f8d7da;
    color: #721c24;
}

.image-panel img{
    width: 250px;
    transition: 0.4s;
}

@media screen and (max-width: 430px){

    .contenedor{
        flex-direction: column;
        width: 95%;
    }

    .image-section{
        padding: 10px;
    }

    .image-section img{
        width: 150px;
        max-width: 100%;
    }

    .Pedidos{
        padding: 20px 15px;
    }

    .Pedidos h2{
        font-size: 1.4rem;
        text-align: center;
    }

    .Pedidos input,
    .Pedidos textarea,
    .Pedidos button{
        width: 100%;
        font-size: 16px;
    }

    h2{
        font-size: 1.8rem;
        text-align: center;
    }
}